*{
    margin: 0;
    padding: 0;
}

h1{
    color: cornflowerblue;
    background-color: aliceblue;
}

h2{
    color: red;
    background-color: paleturquoise;
}

/* article > p {
    font-size: 25px; 
} */

.article_p {
    font-size: 1.5rem;
}

#footer_p {
    color: plum;
    background-color: chartreuse;
}
li {
    color: blue;
    background-color: aliceblue;
}

li:nth-child(2n) {
    color: blueviolet;
    background-color: beige;
}
    
img {
    max-width: 50vw;
    height: 10%;
}